@charset "UTF-8";
@import "./base.css";
@import "./loading.scss";
/* .main {
  width: 100%;
  height: 100%;
  background-color: #282B56;
  display: flex;
  justify-content: center;
  align-items: center;
  .info {
    text-align: center;
    .name {
      margin: 0 auto 30px;
      width: 200px;
      height: 200px;
      line-height: 200px;
      background-color: #FFF;
      border-radius: 100%;
      font-size: 60px;
      text-transform: uppercase;
    }
  }
}
 */

body {
  background-color: #5C5EDC;
}

#o2_main {
  display: block!important;
  height: 100%;
  overflow: hidden;
  position: relative;
  max-width: 750px;
}

#stage_bg, #stage {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#stage {
  display: none;
  z-index: 3;
}

.fixed_bottom {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  height: 100px;
  padding: 28px 30px 0;
  box-sizing: border-box;
  background: rgba(3,3,3,.6);
  box-shadow: 0 -1PX 2PX rgba(0,0,0,.5);
  z-index: 100;
  

  

  .pause_btn {
    position: absolute;
    right: 32px;
    width: 130px;
    height: 62px;
    color: #fff;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid;
    top: 50%;
    margin-top: -31px;
  }
}


.game_complete, .game_start {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #5C5EDC;
  z-index: 102;
}

.game_complete {
  display: none;
  text-align: center;

  &.success {
    .game_success {
      display: block
    }
    .game_fail {
      display: none;
    }
  }

  &.fail {
    .game_fail {
      display: block
    }
    .game_success {
      display: none;
    }
  }

  .game_success, .game_fail {
    font-size: 46px;
    color: #fff;
    font-weight: 200;
    margin-top: 246px;
  }

}


.game_start {
  // display: none;
  text-align: center;
  h1 {
    font-size: 68px;
    color: #fff;
    font-weight: 200;
    margin-top: 206px;
  }

  .game_intro {
    box-sizing: border-box;
    width: 100%;
    padding: 34px 50px 42px;
    margin-top: 100px;
    color: #fff;
    text-align: left;
    background-color: rgba(0, 0, 0, .49);

    h3 {
      font-size: 32px;
      line-height: 1;
      margin-bottom: 12px;
      font-weight: 200;
      margin-bottom: 20px;
    }
    ol {
      list-style: decimal inside none;
      pointer-events: none;
    }
    li {
      font-size: 24px;
      line-height: 38px;
      margin-bottom: 6px;
      font-weight: 200;
    }
  }
}

.start_btn, .play_again {
  width: 366px;
  height: 106px;
  border-radius: 16px;
  color: #fff;
  border: 4px solid;
  background-color: transparent;
  font-size: 36px;
  position: absolute;
  bottom: 164px;
  left: 50%;
  margin-left: -183px;
}


.control_racket {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0;
  z-index: 30
}

.control_racket>div {
  width: 50%;
  display: inline-block;
  font-size: 28px;
  color: #fff;
  text-align: center;
  background-color: orange;
  line-height: 80px;
  position: relative;

  &:first-child::after {
    content: '\20';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
  }
}

